.event-list-container {
    background: url('https://static.vecteezy.com/system/resources/thumbnails/001/896/850/small/multicolored-blurred-background-free-photo.jpg') center center/cover no-repeat;
    /* background: #FFF1FA; */
    /* background: #F7EBED; */
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
 

}

.input-group {
    margin-top: 1vw;
    margin-bottom: 1vw;
}


.form-control {
    margin-top: 0;
    height: 100%; 
    border-radius: 0.4vw;
    border-color: black 1px;
}



.badge {
    border: none;
}

.badge:hover {
    filter: brightness(0.8);
    transition: 250ms;

}
 
.row {
    height:50%;
}
/*
th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: pink;
} */

.list-group-item:hover {
    transition: all 0.3s ease-out;
    filter: brightness(0.99);
    background: lightgrey;
    color: #242424;
    transition: 250ms;

}  

.list-group-item.active {
    background-color: rgb(255, 182, 193);
    border-color:rgb(255, 182, 193);
    color: #212529;
}

.list-group {
    border-radius: 12px;
    font-family: 'Quicksand', sans-serif;
}



/* AddEvent.js */
.container-unsubmitted {
    background: url('https://static.vecteezy.com/system/resources/thumbnails/001/896/850/small/multicolored-blurred-background-free-photo.jpg') center center/cover no-repeat;
    height: 100vh;
    justify-content: center;
    text-align: center;
   
}

.container-submitted {
    background: url('https://static.vecteezy.com/system/resources/thumbnails/001/896/850/small/multicolored-blurred-background-free-photo.jpg') center center/cover no-repeat;
    height: 100vh;
    justify-content: center;
    text-align: center;

}

.title-addevent {
    margin-top: 0vh;
}

.addevent-row {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    margin-top: 20vh;

  }

/* .form-control {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
} */

/* .form-start {
    margin-top:5vw;
} */

.title-h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}